@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* Color schema */
    --primary-100: hsl(225, 100%, 94%);
    --primary-300: hsl(245, 75%, 52%);

    --secondary-100: hsl(225, 100%, 98%);
    --secondary-500: hsl(224, 23%, 55%);
    --secondary-900: hsl(223, 47%, 23%);

    --white: white;

    /* Font-weights */
    --medium-weight: 500;
    --bold-weight: 700;
    --black-weight: 900;

    /* Desktop vs Mobile sizes */
    --desktop-size: 450px;
    --mobile-size: 327px;
}

/*********** Resets ***************/
*,
body {
    box-sizing: border-box;
    margin: 0;   
    font-size: 16px;
    line-height: 21px;
    font-family: 'Red Hat Display', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}


/*********** General ***************/
body {
    background-color: var(--primary-100);
}

.desktop-background-image {
    width: 100vw;
    height: 50vh;
}

.mobile-background-image {
    display: none;
}

.main-container {
    position: absolute;
    top: 20%;
    left: calc((100vw - var(--desktop-size)) / 2);    
    background-color: var(--white);
    border-radius: 20px;
}

.main-container-image {
    width: var(--desktop-size);    
    border-radius: 20px 20px 0 0;
}

.main-container-section {
    width: var(--desktop-size);    
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 28px;
    line-height: 37px;
    font-weight: var(--black-weight);
    text-align: center;
}

.subtitle {
    line-height: 26px;
    font-weight: var(--medium-weight);
    color: var(--secondary-500);
    text-align: center;
    margin-top: 20px;
}

.subscription-container {
    width: calc(var(--desktop-size) - 90px); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 11px;
    background-color: var(--secondary-100);
    padding: 20px;
    margin-top: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.subscription-container-info {
    display: flex;
}

.subscription {
    margin-left: 20px;
}

.subscription .text {
    font-weight: var(--black-weight);
}

.subscription .price {
    font-weight: var(--medium-weight);
    color: var(--secondary-500);
}

.change-button {
    color: var(--primary-300);
    font-size: 14px;
    line-height: 19px;
    font-weight: var(--bold-weight);
}

.pay-button {
    height: 50px;
    width: calc(var(--desktop-size) - 90px); 
    border-radius: 11px;
    border: none;
    background-color: var(--primary-300);
    color: var(--white); 
    font-weight: var(--black-weight);
    font-size: 15px;
    margin-top: 20px;
}

@media screen and (max-width: 500px) {
    .main-container {
        width: var(--mobile-size);
        left: calc((100vw - var(--mobile-size)) / 2);    
    }

    .mobile-background-image {
        display: block;
        width: 100vw;
        height: 50vh;
    }

    .desktop-background-image {
        display: none;
    }

    .main-container-image {
        width: var(--mobile-size);    
    }

    .main-container-section {
        width: var(--mobile-size); 
        padding: 30px;   
    }

    .title {
        font-size: 22px;
        line-height: 30px;
    }

    .subtitle {
        font-size: 15px;
        line-height: 25px;
    }

    .subscription-container {
        width: calc(var(--mobile-size) - 48px); 
        padding: 16px;
    }

    .subscription .text, .subscription .price {
        font-size: 14px;
    }
}